.tamanho{
    position: relative;
    width: 300px;
    background-color: white;
}
a.direita{
    position:relative;
    right: -100px;
}
a.direita:hover{
    color: gray;

}
.centro{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
button.btn.btn-primary.mb-2{
    background-color: rgb(9, 28, 46);
    margin: 0 auto;
}
p{
    text-align: center;
}
img.d-block.mx-auto.mb-4{
    margin-top:5%;
}