<app-topo></app-topo>
<div class="centro">
    <div class="tamanho">
      
      <form>
      <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input type="text" class="form-control" placeholder="" autocomplete=off>

            <label for="exampleInputEmail1">Ano de Nascimento</label>
                <input type="text" class="form-control" placeholder="1999" autocomplete=off>

            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" placeholder="" autocomplete=off>

            <label for="exampleInputEmail1">Telefone</label>
            <input type="text" class="form-control" placeholder="" autocomplete=off>

            <label for="exampleInputEmail1">Endereço</label>
            <input type="text" class="form-control" placeholder="" autocomplete=off>
        <!-- <small class="form-text text-danger" *ngIf="form.get('nome').invalid && form.get('nome').touched">
          Nome inválido
        </small>  -->
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        </div>
      </div>