<app-topo></app-topo>
<div class="centro">
    <div class="tamanho">
      
      <form [formGroup]="form" (ngSubmit)="cadastrarCliente()">
      <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input type="text" class="form-control" placeholder="" autocomplete=off formControlName="nome">
<small class="form-text text-danger" *ngIf="form.get('nome').pending">
          Este nome já existe na sua base de dados.
        </small> 
            <label for="exampleInputEmail1">Data de Nascimento</label>
                <input type="text" class="form-control" placeholder="" autocomplete=off formControlName="nascimento" mask="00/00/0000">
                <small class="form-text text-danger" *ngIf="form.get('nascimento').invalid && form.get('nascimento').touched">
                   Data incorreta, digite neste formato dd/mm/aaaa.
                  </small> 
            <label for="exampleInputEmail1">Telefone</label>
            <input type="text" class="form-control" placeholder="" autocomplete=off formControlName="telefone" mask="(00)00000-0009">

            <label for="exampleInputEmail1">Endereço</label>
            <input type="text" class="form-control" placeholder="" autocomplete=off formControlName="endereco">
        <!-- <small class="form-text text-danger" *ngIf="form.get('nome').invalid && form.get('nome').touched">
          Nome inválido
        </small>  -->
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        </div>
      </div>