.tamanho{
    position: relative;
    width: 300px;
    background-color: white;
}
a.direita{
    position:relative;
    right: -100px;
}
a.direita:hover{
    color: gray;

}
.centro{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
h1{
    color:#72929a;
    text-shadow: 1px 1px rgb(68, 67, 67);
    
}
button.btn.btn-primary{
    background-color: rgb(10, 10, 31)
}
