
<div class="centro">
  <div class="tamanho">
  <form [formGroup]="formLogin" (ngSubmit)="login()">
  <img  src="../../assets/psicologia.png" alt="" width="300" height="180">
  <h1 class="h3 mb-3 font-weight-normal">Clínica Online
  </h1>

        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" autocomplete="off" placeholder="Email" formControlName="email">
        <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha" autocomplete="off">

        <small class="form-text text-danger" *ngIf="error!= undefined && error.status == 401">
            Usuário ou senha incorretos
          </small>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  <button class="btn btn-lg btn-secondary btn-block" type="button" routerLink="/cadastrar_usuario">Cadastrar</button>
  <button class="btn btn-sm btn-info btn-block" type="button" routerLink="/esqueci_senha">Esqueci minha senha</button>
   <button class="btn btn-sm btn-success btn-block" type="button" (click)="testarConexao()">Verificar iniciação do sistema</button>
   <small class="form-text text-warning" *ngIf="response != undefined && response.status == 800">
  Aguardando resposta do sistema...  </small>   
  <small class="form-text text-warning" *ngIf="error!= undefined && error.status == 0">
   Sistema iniciando...  </small>     
  <small class="form-text text-success" *ngIf="response!= undefined && response.status == 200">
    O sistema já está em funcionamento. </small>    
   <p class="mt-5 mb-3 text-muted">© 2019</p>
</form>
</div>
</div>