<app-topo></app-topo>

<form [formGroup]="form" (ngSubmit)="cadastrarParecer()">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Selecionar Cliente</label>
      <select class="form-control" id="exampleFormControlSelect1" formControlName="cliente">
        <option>Selecione...</option>
        <option *ngFor="let cliente of clientes">{{cliente.nome}}</option>
      </select>
      <small class="form-text text-danger" *ngIf="form.get('cliente').pending">
          Selecione um cliente
        </small> 
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Título</label>
        <input type="text" class="form-control" placeholder="" formControlName="titulo">
      </div>
      <small class="form-text text-danger" *ngIf="form.get('titulo').invalid && form.get('titulo').touched">
          Título mínimo de 2 caracteres.
        </small> 

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descrição</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" formControlName="descricao"></textarea>
    </div>
    <small class="form-text text-danger" *ngIf="form.get('descricao').invalid && form.get('descricao').touched">
        Descrição mínima de 10 caracteres.
      </small> 
    <button type="submit" class="btn btn-primary mb-2">Cadastrar Relatório</button>
  </form>