.table-hover td {
    cursor: pointer;
}
p{
    text-align: center;
}
.centro{
margin:auto;
width: 60%;
}
ul.pagination{
margin:auto;
}
tr.blue{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(220, 224, 224);
}
tr.itens{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    background-color: rgb(45, 113, 214);
}
table.table.table-hover tr.itens:hover{
    background-color: rgb(77, 233, 181);
}
img.d-block.mx-auto.mb-4{
    margin-top:2%
}
div.text-center{
    margin-top: 20%;
}