<app-topo></app-topo>
<div *ngIf="atendimento != undefined; else loading">
    <p class="lead cliente" [routerLink]="['/cliente' , atendimento.cliente.id]">
    {{atendimento.cliente.nome}}
    </p>
    
    <p class="lead small">
       Tel: {{atendimento.cliente.telefone | mask: '(00)90000-0000'}}
        </p>
    <p class="titulo">
    {{atendimento.titulo}}
    </p>
    <p class="data">
    {{atendimento.data | date: 'dd/MM/yyyy'}}
    </p>
    <p class="descricao">
    {{atendimento.descricao}}
    </p>
    <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#modalAlterar">Alterar</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#excluirRelatorio" (click)="excluirOptions()">
      Excluir
    </button>
    </div>
    
    
    <!-- Modal -->
    <div class="modal fade" id="excluirRelatorio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Mensagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div  *ngIf="excluido == false">
            <div class="modal-body">
              Deseja realmente excluir este relatório?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="excluirAtendimento()">Sim, excluir</button>
            </div>
          </div>
          <div *ngIf="response != undefined && response.status == 204; else excluindo">
            <div class="modal-body">
              Relatório excluído com sucesso.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/">Ok</button>
              </div>
          </div>
          <ng-template #excluindo>
              <div *ngIf="response != undefined && response.status !=204; else excluindoTrue">
                  <div class="modal-body">
                    Houve problemas ao excluir este relatório, tente de novo mais tarde.
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
                <ng-template #excluindoTrue>
            <div class="modal-body" *ngIf="excluido==true">
                  Excluindo....
                </div>
              </ng-template>
          </ng-template>
         
        </div>
      </div>
    </div>
    
    
    <!-- Modal -->
    <div class="modal fade" id="modalAlterar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alterar Relatório</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
             <form [formGroup]="formUpdate" (ngSubmit)="updateAtendimento()">
               <div class="form-group">
                 <label for="titulo">Título </label>
                 <input type="text" class="form-control" autocomplete=off  value={{atendimento.titulo}} formControlName="titulo">
                 <small class="form-text text-danger" *ngIf="formUpdate.get('titulo').invalid && formUpdate.get('titulo').touched">
                    Título máximo 60 caracteres.
                   </small> 
                </div> 
                <div class="form-group">
                <label for="titulo">Data </label>
                <input type="date" class="form-control" autocomplete=off  formControlName="data" > 
                  </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Descrição do Cliente</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" value={{atendimento.descricao}}  formControlName="descricao"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalMensagemAlteracao">Confirmar alteração</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>
      
      <!-- Modal  ALTERACAO MENSAGEM-->
      <div class="modal fade" id="modalMensagemAlteracao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="response !=undefined && response.status == 204;else updateRelatorioErro">
                <div class="modal-body">
                    <p class="text-success">Atendimento alterado com sucesso.</p>
                </div>
              </div>
              <ng-template #updateRelatorioErro>
                  <div *ngIf="response !=undefined && response.status != 204; else atualizando">
                      <div class="modal-body">
                          <p class="text-danger">Atendimento não foi atualizado.</p>
                      </div>      
                  </div>
              <ng-template #atualizando>
                  <div class="modal-body">
                     Atualizando.....           
                     </div>
              </ng-template>
              </ng-template>
              
          </div>
        </div>
      </div>
