
<div class="centro">
  <div class="tamanho">
  <form [formGroup]="form" (ngSubmit)="forgot()">
  <img  src="../../assets/psicologia.png" alt="" width="300" height="180">
  <p class="lead">Digite seu email e enviaremos uma nova senha à ele.</p>
  <h1 class="h3 mb-3 font-weight-normal">Clínica Online
  </h1>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" autocomplete="off" placeholder="Email" formControlName="email">
        <button class="btn btn-md btn-info btn-block" type="submit" data-toggle="modal" data-target="#modalEmailEnviado">Enviar</button>
        <button class="btn btn-md btn-secondary btn-block" type="button" routerLink="/login">Login</button>
  <p class="mt-5 mb-3 text-muted">© 2019</p>
</form>
</div>
</div>

<!-- Modal MENSAGEM EMAIL ENVIADO-->
<div class="modal fade" id="modalEmailEnviado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="response !=undefined && response.status == 204">
      <div class="modal-body">
        Nova senha enviada ao seu email!
      </div>
    </div>
    <div *ngIf="response !=undefined && response.status == 500">
        <div class="modal-body">
          Email incorreto.
        </div>
      </div>
      <div *ngIf="response !=undefined && response.status == 0">
          <div class="modal-body">
            Não foi possível enviar a senha neste momento, tente de novo.
          </div>
        </div>
      <div *ngIf="response ==undefined">
          <div class="modal-body">
            Enviando...........
          </div>
        </div>
    </div>
  </div>
</div>