.table-hover td {
    cursor: pointer;
}
p{
    text-align: center;
    margin-top:10%;
}
p.lead.cabecalho{
    font-size: 28px;
    font-weight: bold;
    margin-top: 1%;
}
.centro{
margin:auto;
width: 60%;
}
ul.pagination{
margin:auto;
}
tr.blue{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(220, 224, 224);
}
tr.itens{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    background-color: rgb(57, 134, 250);
}
table.table.table-hover tr.itens:hover{
    background-color: rgb(77, 233, 181);
}
img.d-block.mx-auto.mb-4{
    margin-top:2%
}
div.text-center{
    margin-top: 20%;
}
button{
  margin-top: 7%;
}
p.lead.small{
    font-size: 15px;
}