a.dropdown-item{
cursor:pointer;
}
nav.navbar.navbar-expand-lg.navbar-dark{
    background-color: rgb(9, 28, 46);
}
input.form-control{
    border-color: rgb(255, 255, 255)
}
a.lista-clientes{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li.list-group-item{
    background-color: rgb(3, 3, 3);
}