.tamanho{
    position: relative;
    width: 300px;
    background-color: white;
}
table{
   background-color: rgb(123, 169, 253)
}
p.negrito{
    font-weight: bold;
    font-style: italic;
}
p.negrito-relatorio{
    margin-top:6%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    text-align: center;
}
p.mensagem{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
a.direita{
    position:relative;
    float:left;
    margin-left:2%;
    margin-bottom: 2%;
    color:rgb(78, 113, 170);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
}
a.direita:hover{
    color: gray;
    cursor:pointer;

}
.centro{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.centroButton{
    margin-left: auto;
    margin-right: auto;
}
.table-hover td {
    cursor: pointer;
}
.divdireita{
    position:relative;
    float:left;
    margin:auto;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.divesquerda{
    position:relative;
    float:left;
    margin-left:2%;
    margin-top: 2%;
    width: 40%;
    background-color: white;
}
label.direita{
    width: 49%;
float:left;
margin-top:2%;
}
div.left{
    margin-left:2%;
    float:left;
    margin-bottom: 4%;
}
div.button-busca{
    margin:auto;
    margin-left:2%;
    height: 10px;
    float:left;
}
textarea.form-control.direita{
    float:left;
    width: 49%;
    margin-top:2%;
    background-color: rgb(255, 254, 238);
    }
button.btn.btn-primary{
    margin-top:2%;
    background-color:  rgb(9, 28, 46);
    border-color: black;
}
button.btn.btn-primary.btn-md{
    float:left;
    margin-left: 1%;
    background-color : rgb(9, 28, 46);
    border-color: black;
    
}
div.centro-buttons{
    margin-left: 2%;
    width: 40%;
    margin: 0 auto;
}
tr.blue{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(137, 189, 189);
}
tr.itens{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(197, 197, 197);
    background-color: rgb(9, 28, 46);
}
table.table.table-hover tr.itens:hover{
    background-color: rgb(138, 170, 219);
}