<app-topo></app-topo>
<div *ngIf="cliente !=undefined;else carregando">
<div class="divesquerda">
    <p class="negrito">{{cliente.nome}}</p>
    <p>Data de nascimento: {{cliente.dataNascimento | date : 'dd/MM/yyyy'}}</p>
    <p>Telefone: {{cliente.telefone | mask: '(00)90000-0000'}}</p>
    <p>Endereço: {{cliente.endereco}}</p>
    <br>
        <a class="direita" data-toggle="modal" data-target="#modalExemplo">Alterar informações</a>
  </div>      
    <form [formGroup]="formUpdate" (ngSubmit)="addDescricao()">
      <div class="form-group">
        <label class="direita" for="exampleFormControlTextarea1">Descrição do Cliente</label>
        <textarea class="form-control direita" id="exampleFormControlTextarea1" rows="4" value="{{cliente.descricao}}" formControlName="descricao"></textarea>
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalSalvarDescricao">Salvar Descrição</button>
      </div>
    </form>
</div>
<ng-template #carregando>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

  

     
<!-- Modal -->
<div class="modal fade" id="modalTransferirCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Transferir Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <form [formGroup]="formTransferir" (ngSubmit)="transferirCliente()">
           <div class="form-group">
             <div *ngIf="usuarioTransferir == null; else transferido">
              <label for="exampleInputEmail1">Transferir para: </label>
              <input type="text" class="form-control" placeholder="nomeDaPessoa@email.com" autocomplete=off formControlName="email">
              <div class="modal-footer">
                <button type="submit" class="btn btn-info">Transferir</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
             </div>
            </div> 
             <ng-template #transferido>
               <div *ngIf="usuarioTransferir.email == null; else usuarioExiste">
                Este usuário não existe.
               </div>
               <ng-template #usuarioExiste>
                  Deseja transferir {{cliente.nome}} para {{usuarioTransferir.nome}}<br> Email: "{{usuarioTransferir.email}}" ?
                  <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="confirmarTransferencia()" data-target="#modalMensagem" data-dismiss="modal"  data-toggle="modal">Confirmar Transferência</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarTransferencia()">Cancelar</button>
              </div>  
               </ng-template>
            </ng-template>

          </form> 
        </div>
      </div>
    </div>
  </div>

<!-- MODAL-->
  <div class="modal fade" id="modalMensagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="transferiu; else naoTransferiu">
              Cliente transferido.
            </div>
            <ng-template #naoTransferiu>
              Houve problemas, cliente não transferido
            </ng-template>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alterar informações do cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formUpdateCliente" (ngSubmit)="updateCliente()">
        <div class="form-group">
          <label for="exampleInputEmail1">Nome</label>
          <input type="text" class="form-control" placeholder="" autocomplete=off formControlName="nome">

          <label for="exampleInputEmail1">Data de Nascimento</label>
              <input type="text" mask="00/00/0000"class="form-control" placeholder="xx/xx/xxxx" autocomplete=off formControlName="nascimento">

          <label for="exampleInputEmail1">Telefone</label>
          <input type="text" mask="(00)00000-0009" class="form-control" placeholder="" autocomplete=off formControlName="telefone">

          <label for="exampleInputEmail1">Endereço</label>
          <input type="text" class="form-control" placeholder="" autocomplete=off formControlName="endereco">
      <!-- <small class="form-text text-danger" *ngIf="form.get('nome').invalid && form.get('nome').touched">
        Nome inválido
      </small>  -->
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-info" data-target="#modalMensagemAlteracao" data-toggle="modal">Salvar mudanças</button>
        </div>
      </form> 
      </div>
    </div>
  </div>
</div>



<div *ngIf="cliente !=undefined">
  <div class="divdireita">
      <div *ngIf="pageObj != undefined">
          <p class="negrito-relatorio">Relatórios</p>
          
          <form [formGroup]="formDatas" (ngSubmit)="buscarPorData()">
              <div class="left">
            <input type="date" class="form-control" autocomplete=off  formControlName="dataInicial">
            <small class="form-text text-info" *ngIf="formDatas.get('dataInicial').touched && formDatas.get('dataInicial').pending || formDatas.get('dataInicial').invalid && formDatas.get('dataInicial').touched">
              Insira as datas caso queira buscar. </small>    
            </div>
              
      
                <div class="left">
            <input type="date" class="form-control" autocomplete=off  formControlName="dataFinal">
            <small class="form-text text-info" *ngIf="formDatas.get('dataFinal').touched && formDatas.get('dataFinal').pending  || formDatas.get('dataFinal').invalid && formDatas.get('dataFinal').touched">
                Insira as datas caso queira buscar. </small>                  
              </div>
              
              <div class="left">
            <button type="submit" class="btn btn-md btn-info btn-block">Buscar entre datas</button>         
          </div>
          </form>
       
          <br> <br> <br>
          <div *ngIf="pageObj.body.totalElements == 0; else showPareceres">
              <p class="mensagem">Não foram encontrados relatórios</p>
          </div>
        <ng-template #showPareceres>
<table class="table table-hover">
    <thead>
      <tr class="blue">
        <th scope="col">Título</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr class="itens" *ngFor="let parecer of pageObj.body.content"[routerLink]="['/relatorio_cliente', parecer.id]">
        <td scope="row">{{parecer.titulo}}</td>
        <td>{{parecer.data | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
      <nav>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="pageAnterior()" *ngIf="page!=0">Anterior</a></li>
    
      <li class="page-item"><a class="page-link" (click)="setPagina(page)" *ngIf="pageObj.body.totalPages>page">{{page+1}}</a></li>
      <li class="page-item"><a class="page-link"  (click)="setPagina(page+1)" *ngIf="pageObj.body.totalPages>page+1">{{page+2}}</a></li>
      <li class="page-item"><a class="page-link"  (click)="setPagina(page+2)" *ngIf="pageObj.body.totalPages>page+2">{{page+3}}</a></li>
    
      <li class="page-item"><a class="page-link" (click)="pageSeguinte()" *ngIf="pageObj.body.totalPages > page+1">Próximo</a></li>
    </ul>
    </nav>
    </div>
  </ng-template>
</div>
<!-- Botão para acionar modal ATIVAR DESATIVAR -->
<p class="mensagem">Desativar um cliente serve para taxar o cliente como um cliente que não está fazendo consultas por algum tempo.</p>
<div class="d-flex justify-content-center">
<button *ngIf="cliente.status=='1';else clienteInativo" type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#mudarStatusCli" (click)="mudarStatusCliente('inativo')">
   Desativar
  </button>
<ng-template #clienteInativo>
    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#mudarStatusCli" (click)="mudarStatusCliente('ativo')">
        Ativar
       </button>
</ng-template>
<button type="button" class="btn btn-primary btn-md"  data-toggle="modal" data-target="#modalTransferirCliente">Tranferir</button>
</div>
</div>
</div>


  <!-- Modal Mensagem Status -->
  <div class="modal fade" id="mudarStatusCli" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         Status do cliente alterado com sucesso.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>



<!-- Modal SALVAR DESCRICAO -->
<div class="modal fade" id="modalSalvarDescricao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="response !=undefined && response.status == 204;else updateDescricaoErro">
        <div class="modal-body">
            <p class="text-success">Descrição atualizada com sucesso.</p>
        </div>
      </div>
      <ng-template #updateDescricaoErro>
          <div class="modal-body" *ngIf="response !=undefined && response.status != 204;else updating">
             <p class="text-danger">Descrição não foi atualizada.</p>
            </div>
            <ng-template #updating>
                <div class="modal-body">
                    <p class="text-success">Atualizando....</p>
                </div>
            </ng-template>
      </ng-template>
      </div>
    </div>
  </div>

  <!-- Modal ALTERAR -->
<div class="modal fade" id="modalMensagemAlteracao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="response !=undefined && response.status == 204;else updateClienteErro">
        <div class="modal-body">
            <p class="text-success">Cliente atualizado com sucesso.</p>
        </div>
      </div>
      <ng-template #updateClienteErro>
          <div class="modal-body" *ngIf="response !=undefined && response.status != 204;else atualizando">
             <p class="text-danger">Cliente não foi atualizado.</p>
            </div>
            <ng-template #atualizando>
              Atualizando....
            </ng-template>
      </ng-template>
      </div>
    </div>
  </div>
    
    